<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
	<script type="text/javascript" src="scripts.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller='myController'>


<!-- 	<li ng-repeat="city in cities track by $index">
		{{city.name}} - {{city.population}}
		{{city}}
	</li> -->

<table border=1>
	<thead>
		<th>City Name</th>
		<th>City Population</th>
	</thead>
	<tr ng-repeat="city in cities">
		<td>{{city.name}}</td>
		<td>{{city.population}}</td>
	</tr>
</table>
	
</body>
</html>